@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/assets/montain.jpeg') no-repeat center center; 
    background-size: cover;
    justify-items: flex-start;
    top:0px;
}

header {
    width: 100%;
    position: fixed; /* Fix header to stay on top */
    top: 0; /* Align it to the top */
    left: 0;
    z-index: 1000; /* Ensure header is on top of everything */
    background: rgba(255, 255, 255, 0.1); /* Adjust transparency */
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30%;
    text-align: center;
    flex-wrap:wrap-reverse;


}

#navigation-options {
    padding:20px;
    display: flex;
    gap:30px;
    width:fit-content;
}


.text {
    color: white;
    text-decoration: none;
    font-size: 15px;
    width: fit-content;
}


.text:hover {
    text-decoration: underline;
}

.form-search {
    padding:20px;
    display: flex;
    align-items: center;
    align-self: flex-end;
}


.textbox {
    position: relative;
    margin-right: 10px;
}

.textbox input {
    padding: 10px 40px 10px 20px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    color:rgba(0, 0, 0, 0.58)
}

.textbox input:focus {
    outline: none; /* Remove default focus outline */
    border-color: #a3abb338; 
    box-shadow: 0 0 5px rgba(179, 203, 228, 0.583); 
    background-color: rgba(0, 123, 255, 0.047); 
    color:rgba(0, 0, 0, 0.58);
}

.textbox i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.not-found-text{
    height:fit-content;
    justify-content: center;
    margin-top: 100px;
    font-weight: 500;
    text-align: center;
    color: rgba(0, 0, 0, 0.58);
}

.button {
    background: white;
    color: black;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    font-size: 14px;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 0 20px;
    overflow-y: auto;
    margin-top: 120px;
    position: fixed;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    height: 100vh;
    width: 100%;
    max-width: 1200px;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    padding-top: 20vh;
    flex-wrap: wrap;
    gap: 70px;
   
}

.box {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    transition: all 0.3s ease; 
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    color: white;
    padding: 30px 40px;
    border-radius: 15px;
    text-overflow: ellipsis;
    width: 300px;
    height: 200px;
    margin: 15px;
    z-index: 1;
    text-overflow: ellipsis;
}

.box:hover {
    transform: scale(1.1);
    backdrop-filter: blur(60px); /* Increase opacity on hover */
    color: rgb(133, 130, 130); /* Change text color for better readability */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: fit-content;
    z-index: 10;
    transform: scale(1.1);
    margin-bottom: 0;

}

.box a {
    color: white;
    text-decoration: none;
}

.box h1 {
    margin-bottom: 10px;
    font-size: 36px;
    text-align: center;
    word-wrap:break-word; 
}

.box p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
}

.cv-img{
    background-image: 'url("assets/cv.png")'; 
    background-size: 'cover'; 
    width : '100%'; 
    height : 'auto'; 
}

/* About Section Styling */
.about {
    border-radius: 8px; 
    padding: 2rem; 
    margin: 2rem 0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(10px); 
    color: rgb(133, 130, 130); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 100%;
}

.about h1 {
    font-size: 2.5rem; /* Larger font size for the heading */
    color: #aeacac; /* Dark text color for contrast */
    margin-bottom: 1rem; /* Space below the heading */
    justify-self: center;
}

.about p {
    font-size: 1rem; /* Standard font size */
    line-height: 1.6; /* Increase line height for readability */
    color: #ddd8d8; /* Gray text color */
    margin-bottom: 1rem; /* Space below paragraphs */
}

.about ul {
    list-style: none; /* Remove default list styling */
    padding-left: 0; /* Remove default padding */
}

.about li {
    background: #fff; /* White background for list items */
    padding: 1rem; /* Padding inside list items */
    margin-bottom: 0.5rem; /* Space between list items */
    border-radius: 4px; /* Rounded corners for list items */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.about li strong {
    color: #333; 
}

.about h1::before {
    content: ''; /* Add decorative element before heading */
    display: block;
    width: 50px; /* Set width */
    height: 5px; /* Set height */
    background-color: #71788064; /* Blue color for the line */
    margin-bottom: 1rem; /* Space between line and heading */
    border-radius: 2px; /* Rounded edges for the line */
}

.about-page .form-search {
    display: none;
}

/* Apply fade-out effect on the current page */
.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }
  
  /* Apply fade-in effect on the new page */
  .fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
  }
