<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>My Portfolio</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
        <header>
            <nav id="navigation-options">
                <a href="../index.html " class="text" class= "cv-img" id="header-element">Home</a>
                <a href="../assets/catarina-pestana-cv.pdf" class="text" class= "cv-img" id="header-element" target="_blank" rel="noopener noreferrer">CV</a>
                <a href="https://www.linkedin.com/in/ana-catarina-pestana/" class="text" id="header-element" target="_blank" rel="noopener noreferrer"> LinkedIn</a>
                <a href="https://github.com/CatP98" class="text" id="header-element" target="_blank" rel="noopener noreferrer">GitHub</a>
            </nav>
                <div class="form-search">
                    <form action="#" method="get">
                        <div class="textbox">
                            <input class="textbox-input" type="text" placeholder="Search" required>
                            <i class='bx bx-search'></i>
                        </div>
                    </form>
                </div>
        </header>

        
        <div class="main">
            <div class="box-container"></div>           
        </div>
        
    

    <script src="../js/about.js" type="module"></script>
</body>
</html>
