<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>My Portfolio</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
        <header>
            <nav id="navigation-options">
                <a href="../assets/catarina-pestana-cv.pdf" class="text" class= "cv-img" id="header-element" target="_blank" rel="noopener noreferrer">CV</a>
                <a href="https://www.linkedin.com/in/ana-catarina-pestana/" class="text" id="header-element" target="_blank" rel="noopener noreferrer"> LinkedIn</a>
                <a href="https://github.com/CatP98" class="text" id="header-element" target="_blank" rel="noopener noreferrer">GitHub</a>
            </nav>
        </header>

        
        <div class="main">
            <div class="box-container"></div> 
            <p>Click the button below to start and login with GitHub!</p>
            <button id="login-btn">Login with GitHub</button>          
        </div>
        
    

    <script src="../js/auth.js" type="module"></script>
</body>
</html>